<%= content_for(:container) do %>small<% end %>
<%= content_for(:no_navigation) do %><%= true %><% end %>

<div id="main">
  <%= title t(:login) %>

  <%= form_tag sessions_path, :class => :normal do %>
    <p>
      <%= label_tag :username, ft(:username) %>
      <%= text_field_tag :username, params[:username] %>
    </p>
    <p>
      <%= label_tag :password, ft(:password) %>
      <%= password_field_tag :password %>
    </p>
    <div class="flash_plus_button">
      <% flash.each do |name, msg| %>
        <div id="flash_container">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
      <%= submit_tag t(:login), :class => :submit, :id => :update %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
