<div id="main">
  <%= title "Admin log in" %>

  <%= form_tag sessions_path, :class => :normal do %>
    <p>
      <%= label_tag :login, ft(:email) %>
      <%= text_field_tag :login, params[:login] %>
    </p>
    <p>
      <%= label_tag :password, ft(:password) %>
      <%= password_field_tag :password %>
    </p>
    <div class="flash_plus_button">
      <div id="flash_container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <%= submit_tag t(:login), :class => :submit, :id => :update %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
