<div id="main">
  <h1>Translations</h1>

  <ul>
    <% @translations.keys.each do |key| %>
      <li>
        <%= key %>: <%= @translations[key] %>
        <%= link_to t(:del), delete_translations_path(:key => key), :confirm => sure?, :method => :delete %>
      </li>
    <% end %>
  </ul>

  <h1>Add Translation</h1>

  <%= semantic_form_for @translation do |f| %>
    <%= f.input :locale, :as => :select, :collection => @locales %>
    <%= f.input :key %>
    <%= f.input :value %>
    <%= f.submit t(:create), :class => :submit %>
  <% end %>
  <div class="clear"></div>
  <div class="footer"></div>
</div>
