<div id="main">
  <% content_for(:site_nav) do %>
    <%= link_to t(:logout), logout_path, :class => :right %>
  <% end %>
  <div id="title">
    <%= t(:mail_forward_setting,:user=>session[:username]) %>
  </div>
  <%= form_tag update_path do %>
    <% @input.each do |key, value| %>
      <% if key != :keep %>
        <p><%= render "address_field", :no => key, :value => value %></p>
      <% end %>
    <% end %>
    <p class="longer">
      <%= label_tag :keep, ft(:keep_a_copy) %>
      <%= check_box_tag :keep, 'yes', @input[:keep] %>
      <div class="clear"></div>
    </p>
    <div id="button">
      <div id="flash_container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <%= submit_tag t(:update), :class => :submit %>
      <div class="clear"></div>
      <%= submit_tag "Add address field", :class => :submit %>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
