<%= content_for(:container) do %>wider<% end %>
<% content_for(:login) do %><%= link_to t(:logout), logout_path %><% end %>

<div id="main">
  <h1><%= t(:mail_forward_settings,:user=>session[:username]) %></h1>

  <%= form_tag update_path, :id => "address_edit", :class => :normal do %>
    <% @input.each do |key, value| %>
      <% if key != "keep" %>
        <p><%= render "address_field", :no => key, :value => value %></p>
      <% end %>
    <% end %>
    <%# link_to_add_fields add(:address_field) %>
    <p class="box_plus_button">
      <%= label_tag "address[keep]", ft(:keep_a_copy), :class => %w(w200 f14 ta-left) %>
      <%= check_box_tag "address[keep]", 'yes', @input["keep"], :class => :checkbox %>
      <%= submit_tag add(:address_field), :class => :submit, :id => :add %>
      <div class="clear"></div>
    </p>
    <div class="flash_plus_button">
      <div id="flash_container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <%= submit_tag t(:update), :class => :submit, :id => :update %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
