<div id="main">
  <div id="title">
    <%= t(:mail_forward_login) %>
  </div>
  <%= form_tag connect_path do %>
  <p>
    <%= label_tag :username, ft(:username) %>
    <%= text_field_tag :username %>
    <div class="clear"></div>
  </p>
  <p>
    <%= label_tag :password, ft(:password) %>
    <%= password_field_tag :password %>
    <div class="clear"></div>
  </p>
  <div id="button">
    <div id="flash_container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
    <%= submit_tag t(:login), :class => :submit %>
  </div>
  <div class="clear"></div>
  <% end %>
</div>
