<%= content_for(:container) do %>widerer<% end %>
<% content_for(:login) do %><%= link_to t(:logout), logout_path %><% end %>

<div id="main">
  <% content_for(:site_nav) do %>
    <%= link_to t(:logout), logout_path, :class => :right %>
  <% end %>

  <h1><%= either_of(@filter.new_record?,new(:mail_filter),edit(:mail_filter)) %></h1>


  <%= semantic_form_for [:procmail, @filter], :html =>{:id => :filter} do |f| %>
    <%= f.semantic_errors %>
    <h2 class="margin-left"><%= t(:rule) %></h2>
    <% @filter.rules.each do |rule| %>
      <%= f.inputs :for => [:rules, rule], :class => "inline margin-left compact", :id => :rules do |ref| %>
        <%= render 'rules/form', :f => ref %>
      <% end %>
    <% end %>
    <%= f.submit add(:rule), :class => "submit inner", :name => "rule_plus" %>
    <div class="clear"></div>
    <div class="hr"></div>
    <h2 class="margin-left"><%= t(:action) %></h2>
    <% @filter.actions.each do |action| %>
      <%= f.inputs :for => [:actions, action], :class => "inline margin-left compact", :id => :actions do |ref| %>
        <%= render 'actions/form', :f => ref %>
      <% end %>
    <% end %>
    <%= f.submit add(:action), :class => "submit inner", :name => "action_plus" %>
    <div class="clear"></div>
    <div class="flash_plus_button">
      <div id="flash_container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <%= f.submit either_of(@filter.new_record?, t(:create), t(:update)), :class => "submit outer" %>
      <%= f.submit t(:cancel), :class => "submit outer", :name => :cancel %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
