<div id="main">
<%= semantic_form_for [:procmail, @filter] do |f| %>
  <%= f.semantic_errors %>
  <% @filter.rules.each do |rule| %>
    <%= f.inputs :for => [:rules, rule], :class => :inline do |ref| %>
      <%= render 'rules/form', :f => ref %>
    <% end %>
  <% end %>
  <%= f.semantic_fields_for :actions do |ref| %>
    <%= render 'actions/form', :f => ref %>
  <% end %>
  <%= f.submit t(:cancel) %>
  <%= f.submit either_of(@filter.new_record?, t(:create), t(:update)) %>
<% end %>
</div>
