<h1><%= t(:mail_filter_settings_for, :user=>session[:username]) %></h1>

<div class="table r4" id="filters">
  <% @filters.each_with_index do |filter,no| %>
    <div class="outer">
      <% i=0 %>
      <% while i < [filter.rules.count, filter.actions.count].max %>
        <div class="inner">
          <span class="w25">
            <%= "#{no+1}." if i==0 %>
          </span>
          <span class="w373 truncate">
            <% if filter.rules.count > i %>
              <% if filter.rules.count == 1 %>
                <%= rule_sentence("start", filter.rules[i]) %>
              <% elsif i==0 and filter.glue == "or" %>
                <%= rule_sentence("start_or", filter.rules[i]) %>
              <% elsif i==0 and filter.glue == "and" %>
                <%= rule_sentence("start_and", filter.rules[i], true) %>
              <% elsif filter.rules.count-1 == i and filter.glue == "or" %>
                <%= rule_sentence("end_or", filter.rules[i]) %>
              <% elsif filter.rules.count-1 == i and filter.glue == "and" %>
                <%= rule_sentence("end_and", filter.rules[i]) %>
              <% elsif filter.glue == "or" %>
                <%= rule_sentence("or", filter.rules[i]) %>
              <% elsif filter.glue == "and" %>
                <%= rule_sentence("and", filter.rules[i], true) %>
              <% end %>
            <% end %>
          </span>
          <span class="w300 truncate">
            <%= t(:action_sentence, :operation => t("actions.operations."+filter.actions[i].operation), :destination => filter.actions[i].destination ) if filter.actions.count > i %>
          </span>
          <span class="action">
            <%= link_to t(:edit), edit_procmail_filter_path(filter) if can?(:edit, filter) && i==0 %>
          </span>
          <span class="action">
            <%= link_to t(:del), procmail_filter_path(filter), :confirm => sure?, :method => :delete if can?(:destroy, filter) && i==0 %>
          </span>
          <% i+=1 %>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div id="bottom_links">
  <%= link_to new(:filtering_rule), new_procmail_filter_path, :class => "left-margin small-font" %>
</div>

<div class="flash">
  <div id="flash_container" class="admin_width_with_margin">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>
</div>

<div class="clear"></div>
