<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} - " : "" %>Forward</title>
  <title>Forward</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <%# image_tag 'witch.gif' %>
</div>
<div id="contents_container" class="<%= yield(:container) %>">
  <div id="main_container">
    <div id="site_nav">
      <div id="language">
        <% if english? %>
          <%= link_to "日本語", :language => 'ja', :address => @input %>
        <% else %>
          <%= link_to "English", :language => 'en', :address => @input %>
        <% end %>
      </div>
      <% unless yield(:no_navigation) == "true" %>
        <div id="navigation">
          <%= link_to t(:mail_forwarding), forward_edit_path, :class => request.path =~ /forward/ ? :active : "" %>
          <%= link_to t(:mail_filtering), procmail_filters_path, :class => request.path =~ /procmail/ ? :active : "" %>
          <%= link_to pl(:translation), translations_path, :class => request.path =~ /translations/ ? :active : "" if can? :index, Translation %>
        </div>
      <% end %>
      <div id="login">
        <%= yield(:login) %>
      </div>
    </div>
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to t(:flexible_information_system_research_center), new_message_path %>
  </div>
</div>
</body>
</html>
