<!DOCTYPE html>
<html>
<head>
  <title>Forward</title>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <%= image_tag 'witch.gif' %>
</div>
<div id="contents_container">
  <div id="flash_container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>
  <div id="main_container">
    <div id="site_nav">
      <% if english? %>
        <%= link_to "日本語", :language => 'ja' %>
      <% else %>
        <%= link_to "English", :language => 'en' %>
      <% end %>
      <%= yield(:site_nav) %>
    </div>
    <%= yield %>
  </div>
</div>
</body>
</html>
